.field {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 5rem auto;

    @media screen and (max-width: 966px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 500px) {
        width: 100%;   
       }

}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 80%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;

    rect {
        fill: #26d5db;
    }

    text {
        fill: #e61d1d;
    }

    g {
        font-size: 2rem;
    }
}

.svg-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 2.5rem;
}