.tables {
    display: flex;
    width: 90%;
    margin: 12rem auto 3rem;
}

.sales-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30rem;
    table-layout: fixed;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    th, td {
        padding: .625em;
        text-align: center;
    }

    th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    &__caption {
        font-size: 1.3em;
        font-weight: 300;
        margin: .5em 0 .75em;
        text-transform: uppercase;
    }

    &__row {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    &__head {
        tr {
            background-color: rgb(82, 82, 82);
            color: #eeecec
        }
        
        
    }

    &__body {
    
    }
}